.popup__content{
  margin: 0 auto;
  max-width: 358px;
  display: flex;
  flex-direction: column;
  max-width: 358px;
  gap: 30px;
  margin-bottom: 48px;
}

@media screen and (min-width: 320px) and (max-width:670px){
  .popup__content{
    max-width: 238px;
    margin-bottom: 45px;
  }
}