.popup__profil{
  margin: 0;
  margin: 34px 64px 54px 36px;
  width: 330px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (min-width: 320px) and (max-width:670px){
  .popup__profil{
    width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin: 25px auto 75px ;
  }
}