.elements{
  margin: 0 auto;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 17px;
  margin-bottom: 66px;
}

@media screen and (min-width:769px) and (max-width:1024px){
  .elements{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width:768px){
  .elements{
    max-width: 282px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    margin-bottom: 48px;
  }
}