.profile__ava-box{
  border-radius: 50%;
  height: 120px;
  width: 120px;
  /* overflow: hidden; */
  position: relative;
  display: flex;
}

.profile__ava-box:hover .profile__ava-edit{  
  display: block;
}

/* .profile__ava-box:hover::before{
  opacity: .8;
} */