.elements__item{
  margin: 0;
  max-width: 282px;
  min-height: 361px;
  display: flex;
  flex-direction: column;
  background-image: url(../../../images/elements-fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  position: relative;
}