.elements__item{
  margin: 0;
  max-width: 282px;
  height: 361px;
  display: flex;
  flex-direction: column;
  background-image: url(../../../images/Rectangle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}